<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Title: {{title}}</div>
    <div class="panel-heading">Author: {{author}}</div>
    <div class="panel-heading">Description: {{description}}</div>
    <div class="panel-body">Story: {{content}}</div>

  </div>
</div>
