<html>
  <head>
    <title>MailMan</title>
    {{> stylesheets }}
    <link rel="stylesheet" type="text/css" href="/css/loginlayout.css">
  </head>
  <body>
    {{{ body }}}
  </body>
    {{> scripts }}
</html>
